.recipeListLabel{
  padding: 5% 3% 0px 5%;
  text-align: center;
}
.noneFound{
  text-align:center;
}
.row{
  padding: 0px 4%;
}
.carditself{
  font-size: 1.5vw;
  margin-bottom: 4%;
}
.card-img-top{
  width: 100%;
  height: 35vw;
}
.card-title{
  font-size: 2.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-author{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toRecipe{
  color: grey;
}
.rowPics{
  margin-top: 20%;
}
/* Clear floats after image containers */
.rowPics::after {
  content: "";
  clear: both;
  display: table;
}
.columnPics {
  float: left;
  width: 10%;
  height: 20%;
}

.labelPlace{
  border-radius: 50%;
  width: 90%;
  padding: 0px 5%;
  background-color: black;
}



