.recipeListLabel{
  padding: 5% 3% 0px 5%;
  text-align: center;
}
.noneFound{
  text-align:center;
}
.row{
  padding: 0px 4%;
}
.carditself{
  font-size: 1.5vw;
  margin-bottom: 4%;
}
.card-img-top{
  width: 100%;
  height: 30vw;
}
.card-title{
  font-size: 5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 6% 0px;
}
.card-text{
  font-size: 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-author{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toRecipe{
  color: grey;
  font-size: 2vw;
}
.rowPics{
  margin-top: 20%;
}
.rowPics::after {
  content: "";
  clear: both;
  display: table;
}
.columnPics {
  float: left;
  width: 10%;
  height: 20%;
}

.labelPlace{
  border-radius: 50%;
  width: 90%;
  padding: 0px 5%;
  background-color: black;
}
.lead{
  margin-top:5%;
}
.recipePic{
  width: 100%;
  height: 70vw;
}

.bottomHalf{
  text-align: left;
  margin-left: 4%;
  margin-top: 1%;
}

.columnPicsTwo{
    float: left;
    width: 10%;
    height: 20%;
  }